
/.gradle
/.idea
.classpath
.project
/.settings
/bin
/history
*.iml
*.ipr
*.iws
*.editorconfig
.settings/

# Gradle

/log
/target
hooks/pre-push

# Java

/build
/out
*.class
*.jar
*.war
*.ear

# Log file

*.log
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
.scannerwork/

# Cache of project
.gradletasknamecache

